<%= form_with(model: @recipe, local: true) do |f|%>
  <div class="field">
    <%= f.label :title, "レシピ名" %><br />
    <%= f.text_field :title %>
  </div>
<div class="field">
    <%= f.label :material, "材料" %><br />
    <%= f.text_area :material, class: :form__text %>
  </div>
  <div class="field">
    <%= f.label :body, "作り方" %><br />
    <%= f.text_area :body, class: :form__text %>
  </div>
  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>

